<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Result Review</title>
</head>
<body>
    <div class="container3">
        <header class="header">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>RESULT REVIEW</h2>
            <% if (user) { %>
                <span class="user-label"> 
                    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i><br>
                    <%= user.first_name %> <%= user.last_name %>
                </span>
            <% } %>
        </div>
        </header>

        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span class="sidenav-label">Image Processing</span>
            </a>
            <a href="/database">
                <i class="fa-solid fa-square-check" aria-hidden="true"></i>
                <span class="sidenav-label">Result Review</span>
            </a>
            <a href="/reject">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="sidenav-label">Rejected Images</span>
            </a>
            <a href="/manage">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="sidenav-label">Products Maintenance</span>
            </a>
            <a href="/outlet">
                <i class="fa fa-store"></i>
                <span class="sidenav-label">Outlet Listing</span>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>

    </div>
    <div class="table-container2" id="table-container2">
        
        <% if (data.length === 0) { %>
            <div class="gif-img2">
            <p>No data of processed image.</p>
        </div>
        <% } else { %>
            <table id="region" class="table" style="width:90%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Original Image</th>
                        <th>Annotated Image</th>
                        <th>Staff</th>
                        <th>Outlet</th>
                        <th>Processed at</th>
                        <th>Result</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((record, index) => { %>
                        <tr>
                            <td></td>
                            <td><a href="<%= record.image_path %>" class="image-link" style="font-family: 'OpenSans', sans-serif;"><img src="<%= record.image_path %>" alt="Thumbnail" class="thumbnail" style="height:125px"></a></td>
                            <td><a href="<%= record.annotated_path %>" class="image-link green" style="font-family: 'OpenSans', sans-serif;"><img src="<%= record.annotated_path %>" alt="Thumbnail" class="thumbnail" style="height:125px"></a></td>
                            <td><%= record.first_name %> <%= record.last_name %></td>
                            <td><%= record.outlet_name %></td>
                            <td><%= record.process_date.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                            <td>
                                <button type="button" class="buttonJSON" onclick="showJsonPopup('SOV Check\n\nMaggi: <%= record.annotated_json["SOV Maggi"] %>,Nestle: <%= record.annotated_json["SOV Nestle"] %>,Competitor: <%= record.annotated_json["SOV Competitor"] %>');">View SOV</button>
                                <button type="button" class="buttonJSON" onclick="showJsonPopup('Compliance Check\n\nMaggi: <%= record.annotated_json["Compliance Maggi"] %>,Nestle: <%= record.annotated_json["Compliance Nestle"] %>,Eye Level Maggi: <%= record.annotated_json["Eye Level Maggi"] %>,Eye Level Nestle: <%= record.annotated_json["Eye Level Nestle"] %>');">View Compliance</button>
                                <button type="button" class="buttonJSON" onclick="showJsonPopup('Out of Stock Check\n\nMaggi Kari: <%= record.annotated_json["Out of Stock Maggi Kari"] %>,Maggi Tomyam: <%= record.annotated_json["Out of Stock Maggi Tomyam"] %>,Nestle Koko: <%= record.annotated_json["Out of Stock Nestle Koko"] %>,Nestle Milo: <%= record.annotated_json["Out of Stock Nestle Milo"] %>,Nestle Star: <%= record.annotated_json["Out of Stock Nestle Star"] %>');">View Out of Stock</button>
                            </td>
                            <td><i class="fa fa-check" style="color: green;" aria-hidden="true"></i></td>
                        </tr>
                    <% }); %>
                </tbody>
                <% } %>
            </table>
    
    </div>
    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>
    <div id="imageModal" class="modal">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <img id="modalImage" src="" alt="Image">
    </div> 
    <div id="jsonPopup" class="modal">
        <div class="modal-content">
            <span class="close-modal" onclick="closeJsonPopup()">&times;</span>
            <pre id="jsonContent"></pre>
        </div>
    </div>
</body>
   <script src="script/sidenav.js"></script>
   <script src="script/backbt.js"></script>
   <script src="script/databasefx.js"></script>
   <script src="script/logout.js"></script>
</html>