<!DOCTYPE ejs>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Image Processing</title>
</head>
<body>
    <div class="container3">
        <header class="header-img">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>IMAGE PROCESSING</h2>
            <% if (user) { %>
                <div class="user-info-img">
                    <div class="user-details">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <div class="user-names">
                            <span class="user-label"><%= user.email %> <%= user.first_name %> <%= user.last_name %></span>
            <% } %>
        </div>
        </header>

        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span class="sidenav-label">Image Processing</span>
            </a>
            <a href="/database">
                <i class="fa-solid fa-square-check" aria-hidden="true"></i>
                <span class="sidenav-label">Result Review</span>
            </a>
            <a href="/reject">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="sidenav-label">Rejected Images</span>
            </a>
            <a href="/manage">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="sidenav-label">Products Maintenance</span>
            </a>
            <a href="/outlet">
                <i class="fa fa-store"></i>
                <span class="sidenav-label">Outlet Listing</span>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>

    </div>
    <div class="table-container3" id="table-container3">
        <div class="reg-container">
            <% if (data.length === 0) { %>
                <div class="gif-img">
                <div class="tenor-gif-embed" data-postid="13575875809847976836" data-share-method="host" data-aspect-ratio="1.01852" data-width="100%"><a href="https://tenor.com/view/peach-goma-gif-13575875809847976836">Peach Goma Sticker</a>
                </div> 
                <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <p>No new image to be processed.</p>
            </div>
            <% } else { %>
            <audio id="sound" src="success.mp3" preload="auto"></audio>
            <button type="submit" class="css-img">
                <a style="text-decoration: none; color: white;">
                    <span class="css-button-text">
                        <span>Process</span>
                    </span>
                    <span class="css-button-icon">
                        <i class="fa fa-refresh"></i>
                    </span>
                </a>
            </button>            
            </div><br><br>
            <table id="region" class="table" style="width:80%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Created at</th>
                        <th>Staff</th>
                        <th>Outlet</th>
                        <th>Original Image</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((record, index) => { %>
                        <tr data-id="<%= record.id %>">
                            <td></td>
                            <td><%= record.image_created_at %></td>
                            <td><%= record.first_name %> <%= record.last_name %></td>
                            <td><%= record.outlet_name %></td>
                            <td><a href="<%= record.image_path %>" class="image-link"><img src="<%= record.image_path %>" alt="Thumbnail" class="thumbnail" style="height:125px"></td>
                            <td><i class="fa fa-times" style="color: red;" aria-hidden="true"></i></a></td>
                        </tr>    
                <% }); %>
            </tbody>
            <% } %>
        </table>
    </div>
    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>
    <div id="imageModal" class="modal">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <img id="modalImage" src="" alt="Image">
    </div>
    <div id="processConfirmation" class="processpopup">
        <p>You are about to process the image(s).</p>
        <button id="confirmProcess" class="delete-record">Continue</button>
        <button id="cancelProcess">Abort</button>
    </div>
    <div id="process-popup" class="popup">
        <p>The image(s) have been processed!</p>
    </div>  
</body>
<script src="script/sidenav.js"></script>
<script src="script/backbt.js"></script>
<script src="script/imgfx.js"></script>
<script src="script/logout.js"></script>
</html>