<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="design.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Products Maintenance</title>
</head>
<body>
    <div class="container1">
        <header class="header">
            <img src="logo.png" alt="Logo" height="100px">
            <h2>PRODUCTS MAINTENANCE</h2>
            <% if (user) { %>
                <div class="user-info">
                    <div class="user-details">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <div class="user-names">
                            <span class="user-label"><%= user.email %> <%= user.first_name %> <%= user.last_name %></span>
            <% } %>
        </div>
        </header>

        <div class="sidenav" id="sidenav">
            <a href="/dashboard">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="sidenav-label">Dashboard</span>
            </a>
            <a href="/img_process">
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span class="sidenav-label">Image Processing</span>
            </a>
            <a href="/database">
                <i class="fa-solid fa-square-check" aria-hidden="true"></i>
                <span class="sidenav-label">Result Review</span>
            </a>
            <a href="/reject">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="sidenav-label">Rejected Images</span>
            </a>
            <a href="/manage">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="sidenav-label">Products Maintenance</span>
            </a>
            <a href="/outlet">
                <i class="fa fa-store"></i>
                <span class="sidenav-label">Outlet Listing</span>
            </a>
            <a href="/login/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="sidenav-label">Logout</span>
            </a>
        </div>

    </div>

    <div class="manage-container">
        <div class="brand-container">
            <div class="section-title">ADD BRAND</div>
            <form action="/manage/addBrand" method="post">  
                <div class="input-container">                  
                    <input type="text" class="input-control" id="brand_name" name="brand_name" placeholder="Brand Name" required>
                    <br>
                    <button type="submit" class="css-add"> 
                        <span class="css-button-text">
                            <span>ADD BRAND<span>
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <div class="product-container">
            <div class="section-title">ADD PRODUCT</div>
            <form action="/manage/addProduct" method="post">  
                <div class="input-container">
                    <select id="brand" name="brand">
                        <option value="" selected disabled>Select brand</option>
                        <% brandData.forEach(brand => { %>
                            <option value="<%= brand.id %>">
                                <%= brand.brand_name %>
                            </option>
                        <% }); %>
                    </select> 
                    <br>                
                    <input type="text" class="input-control" id="product_name" name="product_name" placeholder="Product Name" required>
                    <br>
                    <button type="submit" class="css-add">
                        <span class="css-button-text">
                            <span>ADD PRODUCT</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <br>
        <div style="clear:both;"></div>
        <table id="region " class="table-product">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Brand</th>
                    <th>Product</th>
                </tr>
            </thead>
            <% data.forEach((item, index) => { %>
                <tr>
                    <td></td>
                    <td><%= item.brand_name %></td>
                    <td><%= item.product_name %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

    <div id="logoutConfirmation" class="logoutpopup">
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes</button>
        <button id="cancelLogout">No</button>
    </div>
    <div id="brand-popup" class="popup" style="display: none;">
        <p>Brand successfully added!</p>
    </div>
    <div id="product-popup" class="popup" style="display: none;">
        <p>Product successfully added!</p>
    </div>

    <script src="script/sidenav.js"></script>
    <script src="script/manageProd.js"></script>
    <script src="script/addpop.js"></script>
    <script src="script/backbt.js"></script>
    <script src="script/logout.js"></script>
</body>
</html>
